<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" protocolVersion="2" />
    <add key="EstateKit Private Feed" value="https://pkgs.dev.azure.com/estatekit/_packaging/estatekit/nuget/v3/index.json" protocolVersion="3" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="EstateKit Private Feed">
      <package pattern="EstateKit.*" />
    </packageSource>
  </packageSourceMapping>

  <config>
    <add key="defaultPushSource" value="EstateKit Private Feed" />
    <add key="dependencyVersion" value="HighestMinor" />
    <add key="globalPackagesFolder" value="${userprofile}\.nuget\packages" />
    <add key="maxHttpRequestsPerSource" value="100" />
    <add key="httpTimeout" value="00:05:00" />
  </config>

  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>

  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>

  <packageSourceCredentials>
    <EstateKit_Private_Feed>
      <add key="ValidAuthenticationTypes" value="basic,negotiate,apikey" />
    </EstateKit_Private_Feed>
  </packageSourceCredentials>

  <trustedSigners>
    <author name="Microsoft">
      <certificate fingerprint="3F9001EA83C560D712C24CF213C3D312CB3BFF51EE89435D3430BD06B5D0EECE" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
    </author>
    <author name="NuGet.org">
      <certificate fingerprint="0E5F38F57DC1BCC806D8494F4F90FBCEDD988B46760709CBEEC6F4219AA6157D" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
    </author>
    <author name="EstateKit">
      <certificate fingerprint="PLACEHOLDER_FINGERPRINT" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
    </author>
  </trustedSigners>

  <features>
    <feature name="centralPackageVersionManagement" enabled="true" />
    <feature name="centralPackageTransitivePinning" enabled="true" />
    <feature name="retryOnConnectionFailure" enabled="true">
      <parameters>
        <parameter name="maxRetries" value="3" />
        <parameter name="delayInSeconds" value="5" />
      </parameters>
    </feature>
    <feature name="packageSourceFailoverRetry" enabled="true">
      <parameters>
        <parameter name="maxFailoverAttempts" value="2" />
      </parameters>
    </feature>
  </features>
</configuration>